html,
body {
    height:100%;
    font-family:"Arial",Arial,sans-serif;
    color:#999999;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    /*overflow:hidden;*/
}

/* main content area */
#content {
    position:relative;
    margin:0px 0px 0px 280px;
    min-height:800px;
    min-width:1024px;
    height:100%;

    background: url('/image/background_home_optimized.jpg');
    background-repeat:no-repeat;
    background-size:cover;

    background-position: top left;
/*    overflow:hidden;*/
}

#content.acupuncture {
    background: url('/image/acu_full/RM-0514-SSadjak-144Final.jpg') no-repeat;
    background-size: cover;
    background-position: left center;
}


#content.about {
  background-image: url(/image/background_about_optimized.jpg);
}

#content.herbs {
    background: url('/image/herb_full/HongHua__004.jpg') no-repeat;
    background-size: cover;
    background-position: left center;
}

#content.gallery {
    background: url('/image/gallery_full/Page 4 - Photo Gallery - Towels.jpg') no-repeat;
    background-size: cover;
    background-position: left center;
}

#content.mentorship-program {
  background: none;
}

#herbThumbs, #acuThumbs, #galleryThumbs {
    position:absolute;
    bottom:32px;
    right:26px;
    min-width:960px;
    max-width:960px;
}

#acuThumbs {
    min-width:480px;
    max-width:480px;
}

#galleryThumbs {
    min-width:720px;
    max-width:720px;
}


.herb_thumb, .acu_thumb, .gallery_thumb {
    float:left;
    margin:16px 0px 0px 16px;

    width:100px;
    height:100px;
    border:2px solid white;
    -webkit-box-shadow: 6px 3px 3px -2px rgba(0, 0, 0, 0.15);
            box-shadow: 6px 3px 3px -2px rgba(0, 0, 0, 0.15);

    cursor:pointer;
}

.herb_thumb.active, .acu_thumb.active, .gallery_thumb.active {
    border: 4px solid rgba(140,165,190,.8);
    margin: 14px -2px -2px 14px;
}


/* right square */
#rightsquare {
    position:absolute;
    top:500px;
    right:0px;
    background-color:rgba(255,255,255,.8);
    width:381px;

    padding:18px 32px 29px 32px;

    font-family:arial;
    font-size:16px;
    color: #666666;
}

#rightsquare .title, #rightsquare .subtitle {
    font-family:'Lato';
    font-weight:300;
    color:#315a84;
}
#rightsquare .title {
    font-size:56px;
}
#rightsquare .subtitle {
    font-size:28px;
    margin:0px 0px 20px 0px;
}
#rightsquare .content {
    margin:8px 0px 0px 0px;
}
#rightsquare .content .right {
    margin-top:20px;
    text-align:right;
}

#content.home .review {
  display:none;
}
#content.home .review > div {
  margin-top:14px;
}

#content.about #rightsquare {
  top:150px;
  /*width:426px;*/  /*32px left and right padding, 490px total */
/*  bottom:278px;
  top:auto;
*/
}

#content.home #rightsquare {
  bottom:50px;
  top:auto;
}

#content.gallery #rightsquare {
  bottom:160px;
  width:450px;
/*  height:250px; */
  top:auto;
}

#content.about #rightsquare .title {
  color:#8ca5be;
}

#content.about #rightsquare .content .section {
  font-size:12px;
  line-height:16px;
  margin-bottom:22px;
}

#content.about #rightsquare .content .section:last-child {
  margin-bottom:0px;
}


#content.herbs #rightsquare {
  width:426px;  /*32px left and right padding, 490px total */
  bottom:278px;
  top:auto;
}

#content.herbs #rightsquare .title {
  color:#8ca5be;
}

#content.acupuncture #rightsquare {
  bottom:160px;
  top:auto;
}


/* top nav */

#topnav {
  display:none;
}
#bottomnav {
  display:none;
}

/* Left Nav */
#leftnav {
    width:280px;
    height: 100%;
    min-height:725px;
    background: #FFFFFF;
    position:fixed;
    top:0px;
    left:0px;
    z-index:200;

    -webkit-box-shadow: 8px 0 5px -2px rgba(0, 0, 0, 0.15);
            box-shadow: 8px 0 5px -2px rgba(0, 0, 0, 0.15);
}

#navLogo {
    margin:46px 0px 0px 52px;
    width:176px;
    height:104px;
/*    background: transparent url('../image/logo.png');
    background-size:176px 104px; */
}
#navLogo img {
    width:176px;
    height:104px;
}
#navLinks {
    position:absolute;
    top:200px;
    margin:0px 0px 0px 52px;
}
#navButton {
    position:absolute;
    top:375px;
    margin:0px 0px 0px 52px;
}
#navButton input {
    background-color:#A7D4C4;
    color:white;
    font-family:'Lato';
    font-weight:300;
    font-size:20px;

    width:110px;
    height:35px;
    border:0px;
    border-radius:3px;
    outline:none;
}
#book_button {
    background-image:none !important;
    background-color:#A7D4C4 !important;
    color:white !important;
    font-family:'Lato' !important;
    font-weight:300 !important;
    font-size:20px !important;

    width:110px !important;
    height:25px !important;
    border:0px !important;
    border-radius:3px !important;
    outline:none !important;
    text-shadow:none !important;
    padding:10px 0px 0px 0px !important;
    text-align:center !important;
}

#navEmailSignup {
    position:absolute;
    top:450px;
    margin:0px 0px 0px 52px;
}
.mc-field-group > div {
  margin:0px 0px 5px 0px;
}
.mc-field-group	> div:last-child {
  margin:0px 0px 10px 0px;
}

#navAddress {
    position:absolute;
    bottom:120px;
    margin:0px 0px 0px 52px;

   font-size:16px;
}
#navSocialIcons {
    position:absolute;
    bottom:80px;
    margin:00px 0px 0px 52px;
}
#navSocialIcons img {
    margin:0px 20px 0px 0px;
    height:19px;
}

#navCopyright {
    position:absolute;
    bottom:30px;
    margin:0px 0px 0px 52px;

   font-size:12px;
}
.navItem {
    margin:0px 0px 14px 0px;
}
.navItem a {
    display:inline-block;
    text-decoration:none;
    color:#999999;
    font-family:Arial;
    font-size:16px;
    width:100%;
    height:100%;
}
.navItem.active a .label {
  color:#555555;
}

.navItem a:link {
    color: #999999;
}
.navItem a:visited {
    color: #999999;
}
.navItem a:hover {
    color: #555555;
}
.navItem a:active {
    color: #555555;
}

#mobilemenu {
    display:none;
}

/**
 * Mentorship Program page
 */
.mentorship-program--content > section,
.mentorship-program--header {
  padding: 2em 4em;
  line-height: 1.38;
}
.mentorship-program--content > section > *,
.mentorship-program--header > * {
  max-width: 720px;
  margin: 0 auto;
}
.mentorship-program .alt {
  background-color: #eee;
}
.mentorship-program--header {
  background-color: #AAC4DC;
  color: white;
}
.mentorship-program--content h1,
.mentorship-program--content h2 {
  text-align: center;
  margin: 1em auto;
}
.mentorship-program--header h1,
.mentorship-program--content h2 {
  text-transform: uppercase;
}
.mentorship-program--content h2 {
  font-weight: 100;
  font-size: 1em;
  margin: 2em auto;
}
.mentorship-program--content p {
  margin: 2em auto;
}
.mentorship-program--content .content-flex {
  display: flex;
  width: 100%;
}
.content-flex > div {
  width: 50%;
  text-align: center;
}
.mentorship-program--content ul {
  padding: 0;
  column-count: 2;
  list-style: none;
  margin: 2em auto;
}
.mentorship-program--content ul li:before {
  content: "\2022\0020";
}
.mentorship-program--content aside {
  font-style: italic;
  font-size: 0.9em;
  padding-top: 1em;
}
.mentorship-program--content .center {
  text-align: center;
}
.mentorship-content--button {
  text-decoration: none;
  padding: 1em;
  text-transform: uppercase;
  color: #AAC4DC;
  border: 2px solid #AAC4DC;
  display: inline-block;
  margin-right: 1em !important;
}
.mentorship-content--button.primary {
  background-color: #AAC4DC;
  color: white;
  margin-right: 0 !important;
}

.mentorship-prices {
  width: 100%;
  display: flex;
  flex: 2;
}

.mentorship-prices > div {
  box-sizing: border-box;
  padding: 0 1em;
  text-align: center;
  background-color: #ccc;
  color: #fff;
  margin: 0 0.5em 2em;
}

.mentorship-prices h2 {
  font-size: 1.5em;
  margin: 1em 0;
}

.mentorship-prices h2 small {
  display: block;
  text-transform: none;
  color: #fb0036;
  font-size: 0.6em;
}

.program-price {
  font-size: 2em;
}

.program-description {
  font-weight: bold;
  font-size: 1.1em;
}

.mentorship-prices ul {
  column-count: 1;
}

.mentorship-prices hr {
  border: 1px solid #c6c6c6;
}
