RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^acupuncture$ /acupuncture.php
RewriteRule ^herbs$ /herbs.php
RewriteRule ^cupping$ /cupping.php
RewriteRule ^office$ /office.php
RewriteRule ^about$ /about.php
RewriteRule ^mentorship$ /mentorship-program.php
RewriteRule ^mentorship-pricing$ /mentorship-pricing.php
RewriteRule ^beauty$ /beauty.php
RewriteRule ^safety$ /safety.php

#AuthType Basic
#AuthName "Password Protected Area"
#AuthUserFile /var/www/vhosts/sixcycle.com/aq/.htpasswd
#Require valid-user
